body {
    background-color: hotpink;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
}

.page button {
    color: rgb(214, 10, 78);
    font-size: x-large;
    position: absolute;
    left: 50%;
    top:10%;
    transform: translate(-50%, 50%);
    padding: 3em;
    background-color: rgb(255, 255 , 255, 0.4);
    border: none;
    transition: 300ms ease-in-out;
}

.page button:hover,
.page button:focus {
    background-color: rgb(255, 255 , 255, 0.8);
    transition: 300ms ease-in-out;
}

#cat-land {
    position: absolute;
    top: 0;
    left: 0;
}